#thumb-container {
	width: 600px;
	height: 400px;
	background-color: gray;
	border: 1px solid black;
	overflow-y: scroll;
}

.thumb,
.mask {
	width: 100px;
}

.thumb {
	position: relative;
	overflow: hidden;
	float: left;
	margin: 5px 5px;
	height: 100px;
}

.thumb img {
	position: absolute;
}

.mask {
	position: absolute;
	background-color: #000;
	opacity: 0.7;
	color: #fff;
}

.close-btn {
	width: 1em;
	height: 1em;
	position: absolute;
	line-height: 1em;
	right: 1px;
	top: 1px;
	color: #fff;
	cursor: pointer;
	background: #000;
	text-align: center;
}
